#pedidos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .pedido {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }
  
  .pedido > h4 {
  font-size: 1.2rem;
  margin: 10px;
  }
  
  .total {
  margin: 10px;
  font-size: 1.2rem;
  }
  
  .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid yellow;
  padding: 10px;
  }
  
  .producto-imagen {
    width: 68px;
    height: 68px;
    object-fit: contain;
    margin-right: 10px;
    max-width: 100%;
  }
  
  .producto-detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }
  
  .producto-titulo {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 10px;
  }
  
  .producto-cantidad {
  margin: 0;
  margin-bottom: 10px;
  }
  
  .producto-precio {
  margin: 0;
  margin-bottom: 10px;
  }
  
  .total {
  margin-top: 10px;
  font-size: 1.2rem;
  }
